const use{{pascalCase name}} = () => {
  return {}
}

const {{pascalCase name}} = () => {
  const { } = use{{pascalCase name}}()

  return (
    <div>
      <h1>{{pascalCase name}}</h1>
    </div>
  )
}

export default {{pascalCase name}}
